<center>
    <h1 style="color:blue"> YSU MMF, Python, Spring 2021 </h1>
    <h2 style="color:blue"> Lecture 10 </h2>
</center>

## Supplements

- See other standard numerical packages in Python at [https://docs.python.org/3/library/numeric.html](https://docs.python.org/3/library/numeric.html)

- See other standard packages of Python at [https://docs.python.org/3/library/index.html](https://docs.python.org/3/library/index.html)


# Numpy package

- Import `numpy` with the alias name `np`

In [1]:
import numpy as np

- Create a 1D and 2D ndarray from a list

In [16]:
a = [1, 3, 4]
a = np.array(i)
a

array([1, 3, 4])

In [17]:
b = np.array([[1, 2, 3], [4, 5, 6]])
b

array([[1, 2, 3],
       [4, 5, 6]])

- Print the type of the created objects

In [18]:
type(a)

numpy.ndarray

- Get the number of dimensions and shape for the above ndarrays

In [19]:
a.shape

(3,)

In [21]:
b.ndim

2

- Get the data type of the above ndarrays

In [22]:
a.dtype

dtype('int32')

- Create a numpy array with a specified data type

In [27]:
d = np.array([1.5, 2.2, 3.], dtype="float")
d.dtype

dtype('float64')

 - Change the dtype by `astype`

In [28]:
a.dtype

dtype('int32')

In [30]:
a.astype("int64")

array([1, 3, 4], dtype=int64)

- Use standard ndarray creation tools: `zeros, ones, empty, arange, eye`

In [33]:
zeros = np.zeros(22)
zeros

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0.])

In [42]:
ones = np.ones((2,3))   
ones
# np.ones_like(b)

array([[1, 1, 1],
       [1, 1, 1]])

In [43]:
np.empty(10)

array([9.11435044e-312, 1.92685602e-322, 0.00000000e+000, 0.00000000e+000,
       9.10336194e-312, 1.16095484e-028, 4.27255707e+180, 2.91237123e+257,
       4.71294503e+257, 2.60062328e-306])

In [45]:
np.arange(2, 10, 0.1)

array([2. , 2.1, 2.2, 2.3, 2.4, 2.5, 2.6, 2.7, 2.8, 2.9, 3. , 3.1, 3.2,
       3.3, 3.4, 3.5, 3.6, 3.7, 3.8, 3.9, 4. , 4.1, 4.2, 4.3, 4.4, 4.5,
       4.6, 4.7, 4.8, 4.9, 5. , 5.1, 5.2, 5.3, 5.4, 5.5, 5.6, 5.7, 5.8,
       5.9, 6. , 6.1, 6.2, 6.3, 6.4, 6.5, 6.6, 6.7, 6.8, 6.9, 7. , 7.1,
       7.2, 7.3, 7.4, 7.5, 7.6, 7.7, 7.8, 7.9, 8. , 8.1, 8.2, 8.3, 8.4,
       8.5, 8.6, 8.7, 8.8, 8.9, 9. , 9.1, 9.2, 9.3, 9.4, 9.5, 9.6, 9.7,
       9.8, 9.9])

In [51]:
np.eye(4)
# np.identity(4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

 - Using `arange`, divide the interval [0,2] by a sequence of points with stepsize 0.1

In [53]:
np.arange(0, 2.001, 0.1)

array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. , 1.1, 1.2,
       1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2. ])

 - Using `linspace`, divide the interval [0,2] by a sequence of 20 points

In [54]:
np.linspace(0, 2, 20)

array([0.        , 0.10526316, 0.21052632, 0.31578947, 0.42105263,
       0.52631579, 0.63157895, 0.73684211, 0.84210526, 0.94736842,
       1.05263158, 1.15789474, 1.26315789, 1.36842105, 1.47368421,
       1.57894737, 1.68421053, 1.78947368, 1.89473684, 2.        ])

- Create 2 1D and/or 2D ndarrays and multiply pointwise

In [57]:
a = np.array([5, 7, 1])
b = np.arange(3)
a, b

(array([5, 7, 1]), array([0, 1, 2]))

In [66]:
a * b

array([0, 7, 2])

- Calculate `a+b`, `a-b`, `2*a`, `1/a` for some ndarrays **a** and **b**

In [58]:
a + b

array([5, 8, 3])

In [59]:
a - b

array([ 5,  6, -1])

In [60]:
2 * a

array([10, 14,  2])

In [61]:
1 / a

array([0.2       , 0.14285714, 1.        ])

- Get the 3rd element of some 1D ndarray

In [69]:
c = np.array([2, 5, 7, 9, 10, 4, 2, 8, 9, 9, 1])

In [67]:
c[2]

7

- Get the elements from 3 to 10 from some 1D ndarray

In [70]:
c[2:10]

array([ 7,  9, 10,  4,  2,  8,  9,  9])

- Define a 2D ndarray and get the first row, and the element at the first row and second column

In [72]:
m = np.array([[1, 2, 3],
              [4, 5, 6]])
m

array([[1, 2, 3],
       [4, 5, 6]])

In [73]:
m[0]

array([1, 2, 3])

In [74]:
m[0, 1]  # m[0][1]

2

In [76]:
# column
m[:, 1]

array([2, 5])

- Define a 2D ndarray and get the second row as 1D, and then as 2D arrays

In [77]:
b = np.array([[1, 2, 3, 4],
              [5, 6, 7, 8],
              [9, 10, 11, 12]])

In [82]:
b[1]

array([5, 6, 7, 8])

In [79]:
b[1].shape

(4,)

In [83]:
b[1:2, :]

array([[5, 6, 7, 8]])

In [84]:
b[1:2, :].shape

(1, 4)